
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
        <div class="container">
        <a class="navbar-brand" href="/">PodCa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop">
                        Video Idea
                    </a>
                    <div class="dropdown-menu">
                        <a href="/ideaz" class="dropdown-item">Ideas</a>
                        <a href="/ideaz/add" class="dropdown-item">Add Ideas</a>
                    </div>
                <li class="nav-item">
                    <a class="nav-link" href="/users/logout">Log-out</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/users/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/register">Register</a>
                </li>
                {{/if}}
                </li>
            </ul>
        </div>
</div>
</nav>