<div class="jumbotron text-center">
<h1 class="display-3">{{title_changed}}</h1>
<p class="lead">Jot down  the ideas for your PODcast</p>
<p>Version: 1.0.0 </p>
<a href="" class="btn btn-dark btn-lg">Start Your Podcast</a>
<br>

<br>
<p style="color: red">Functionality under Maintainence</p>
</div>