<div class="row">
    <div class="col-md-6 mx-auto">
        {{!-- mx-auto makes margin automatic AND pushes it in the middle --}}
        <div class="card card-body">
            <h3 class="text-center">Account Register</h3>
            <form action="/users/register" method="post">
                <div class="form-group" >
                    <label for="name">Name</label>
                    <input type="name" value="{{name}}" class="form-control" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" value="{{email}}" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">Password</label>
                    <input type="password" value="{{password}}" name="password" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Confirm Password</label>
                    <input type="password" value="{{password2}}" name="password2" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>